.header {
    width: 100%;
    height: auto;
    padding: 1vw;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    background-color: white;
}

.header .nav-top{
   width: 100%;
   /* border: 1px solid;
   box-sizing: border-box; */
   
   display: flex;
   justify-content: center;
   align-items: center;
}

.header .nav-top .nav-top-con{
    display: flex;
    justify-content: space-between;
    flex: 0 1 1600px;
   /* border: 1px solid;
   box-sizing: border-box; */
 }
 
.header .nav-top h1.logo{}

.header .nav-top .top-gnb {}

.header .nav-top .top-gnb ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 1vw;
    gap: 1vw;
}
.header .nav-top .top-gnb ul li {
    transition: 0.3s;
    color: black;
}

.header .nav-top .top-gnb ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    display: block;
    padding: 0.5em 1em;
  }
  
  .header .nav-top .top-gnb ul li:hover {
    cursor: pointer;
    background-color: black;
  }
  
  .header .nav-top .top-gnb ul li:hover a {
    color: white;
  }

.header  .nav-middle {
    width: 100%;
    /* border: 1px solid;
    box-sizing: border-box; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.header  .nav-middle .nav-middle-con {
    flex: 0 1 1600px;
    /* border: 1px solid;
    box-sizing: border-box; */

    display: flex;
    justify-content:center;
}

.header .nav-bottom  {
    width: 100%;
    /* border: 1px solid;
    box-sizing: border-box; */
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-bottom .nav-bottom-con  {
    flex: 0 1 1600px;
    /* border: 1px solid; */
    box-sizing: border-box;

    display: flex;
    justify-content:center;
}

.header .nav-bottom .nav-bottom-con .main-gnb {
    width: 80%;
    height: auto;  
}

.header .nav-bottom .nav-bottom-con .main-gnb ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.header .nav-bottom .main-gnb ul li {
}

.header .nav-bottom .main-gnb ul li:hover {
    color: rgb(94, 92, 92)
}

.header .nav-bottom .main-gnb ul li:hover a {
    color: black;
    text-decoration: underline;
    transition: color 0.3s ease;
}

  /* width: 100%;
  min-height: 80px;
  
  position: sticky;
  box-shadow: 1px 1px #cccccc;
}
.header .nav {
  display: flex;
  justify-content: space-between;

  padding: 10px 15px;
}
.header .nav h1{
  width: 100%;
  height: auto;

  
}
.header .nav h1 img{
  display: block;
}
.header .nav .gnb{
  /* border: 1px solid; */
  /* display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  box-sizing: border-box;

  
}
.header .nav .gnb ul{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}
.gnb ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  letter-spacing: 1px;
  
  border-radius: 10px;
}
.gnb ul li a {
  font-size: 2vw;
}
.gnb ul li:hover {
  background-color: rgb(190, 222, 249);
}
 */ 
