* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;

    background-color: #c4bec9;
}

a {
    text-decoration: none;
    color: #25003d;
}

ul,
li {
    list-style: none;
}