.detailLayout {
  padding-top: 50px;
  width: 100%;
  min-height: calc(100vh - 100px - 100px);

  background-color: #f7f3d4

  ;
}
.detailLayout .detail-con {
  padding: 13vw;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.detailLayout .detail-con .left {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  
}

.detailLayout .detail-con .left img {
  width: 80%;
  display: block;
  border-radius: 10px;
}

.detailLayout .detail-con .right {
  flex: 1 1;
  padding-top: 10vw;
}

.detailLayout .detail-con .right .right-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vw;
  padding: 0 5vw;
}

.detailLayout .detail-con .right .right-con h2 {
  font-size: 20px;
  font-family: 'KBO Dia Gothic_light';
  /* font-weight: lighter; */
}
/* 578FCA */

.detailLayout .detail-con .right .pricej {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'KBO Dia Gothic_light';
}

.detailLayout .detail-con .right .pricej>span.pricej {
  font-size: 19px;
  font-family: 'KBO Dia Gothic_light';
}

.detailLayout .detail-con .right .pricej .countButton{
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  
}

.detailLayout .detail-con .right .pricej .countButton>button {
  width: 1.5em;
  height: 1.5em;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: none;
  background-color: #578FCA;
  border-radius: 100%;
  
  color: #ffffff;
  font-size: 1rem; 
  
}

.detailLayout .detail-con .right .right-con .total {
  display: flex;
  flex-direction: column;
  gap: 2vw;

  font-family: 'KBO Dia Gothic_light'
}

.detailLayout .detail-con .right .right-con .total span {
  padding: 0 1vw;
  box-sizing: border-box;

  font-size: 19px;
}

.detailLayout .detail-con .right .right-con .total>button.addCart {
  height: 4em;
  width: 13em;
  background-color: #FADA7A;

  border-radius: 200px;
  border: none;

  font-size: 15px;
  color: #000000;
  font-family: 'KBO Dia Gothic_light';
  letter-spacing: 0.1rem;

  transition: all 0.2s;
}

.detailLayout .detail-con .right .right-con .pricej .countButton>button:hover {
  background-color: #FADA7A;
  cursor: pointer;
}

.detailLayout .detail-con .right .right-con .total>button.addCart:hover {
  background-color: #3674B5;
  color: #ffffff;
  cursor: pointer;
}

.detailLayout .detail-con .right .total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailLayout .detail-con .right .total .total-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detailLayout .detail-con .right .total .total-con button {
  border: none;
  border-radius: 200px;
  font-family: 'KBO Dia Gothic_light';
  font-size: 15px;

  height: 3em;
  width: 7em;
  
  background-color: #93c5fa;
  color: #ffffff;
  transition: all 0.2s;
}
.detailLayout .detail-con .right .total .total-con button:hover {
  cursor: pointer;
  background-color: #578FCA;
}


@media screen and (max-width:1200px)  {
  
}

@media screen and (max-width: 768px) {
.detailLayout .detail-con {
  display: flex;
  flex-direction: column;
}

.detailLayout .detail-con img {
  width: 100% !important;
}

.right-con h2 {
  font-size: 16px !important;
}

.detailLayout .detail-con .right .pricej {
  font-size: 13px !important;
}

.detailLayout .detail-con .right .pricej .countButton {
  gap: 0.3em;
}

.detailLayout .detail-con .right .pricej .countButton>button {
  font-size: 12px;
}

.total span {
  font-size: 14px !important;
}
.total-con button {
  font-size: 12px !important;
}
.total button.addCart {
  font-size: 12px !important;
}
}