.ShopFashionContainer {
  padding-top: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  background-color: bisque;
}

.ShopFashionContainer h2 {
  padding-top: 20px;
  font-size: 40px;
  color: black;
}

.ShopFashionContainer p {
  color: rgb(255, 53, 53);
  padding-top: 0.5vw;
}

.ShopFashionContainer .ShopFashionContainer-top,
.ShopFashionContainer .ShopFashionContainer-middle,
.ShopFashionContainer .ShopFashionContainer-bottom,
.ShopFashionContainer .ShopFashionContainer-bottoms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  margin-bottom: 40px;
  padding: 1vw;
  width: 80%;
}

.Fashion-item {
  text-align: center;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.Fashion-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.ShopFashionContainer .modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.ShopFashionContainer .modal .modal-content {
  position: relative;
  background: #fff;
  padding: 24px 32px;
  border-radius: 8px;
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: center;
  background-color: rgb(233, 247, 255);
}

.ShopFashionContainer .modal .modal-content img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 16px;
}

.ShopFashionContainer .modal .modal-content h2 {
  font-size: 32px;
  margin-bottom: 8px;
  color: #000000;
  
}

.ShopFashionContainer .modal .modal-content p {
  font-size: 20px;
  color: rgb(255, 72, 48);
  padding-top: 20px;
  margin-bottom: 8px;
}

/* 오른쪽 하단 버튼 */
.ShopFashionContainer .modal .modal-content .right-buttons {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.ShopFashionContainer .modal .modal-content .right-buttons .admin-button {
  padding: 8px 14px;
  font-size: 14px;
  background: rgb(0, 201, 60);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.ShopFashionContainer .modal .modal-content .right-buttons .cart-button {
  width: 28px;
  height: 36px;
}

.ShopFashionContainer .modal .modal-content .right-buttons .cart-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 중앙 하단 닫기 버튼 */
.ShopFashionContainer .modal .modal-content .close-button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.ShopFashionContainer .modal .modal-content .close-button .modal-close {
  padding: 10px 20px;
  font-size: 14px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}