@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&display=swap');


.auth-join {
    position: relative;
    width: 100%;
    height: auto;

    /* background: url(../../../public/images/doggo.jpg)no-repeat 50%/cover; */
    /* filter: grayscale(1); */

    z-index: 0
}

.auth-join video {
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    /* 비디오 > 부모 너비비율로 설정됨 */
    object-fit: cover;

    position: absolute;
    z-index: -2;
    filter: grayscale(0.7);
    overflow: hidden;
    background-repeat: no-repeat;
    object-fit: cover;


}

.wrap {
    display: flex;
    width: 104vw;
    position: relative;
    left: -2vw;

    background-size: auto 100%;
    margin-top: 10rem;
    padding-top: 8rem;
    transform: rotate(-5deg);
    z-index: 1
}

.txt {
    display: flex;
    padding: 3rem 0;
    font-size: 5rem;
    white-space: nowrap;
    color: purple;
    mix-blend-mode: multiply;
    z-index: 1
}

.auth-join .auth-join-con {
    width: 100%;
    min-height: 100vh;


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1
}


.auth-join .auth-join-con h1 {
    padding: 15px;
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-size: 4rem;

    background-color: rgb(0, 136, 255);
}

.auth-join .auth-join-con ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 216, 255);
    padding: 10px;
}